<!DOCTYPE html>
<html ng-app="PHR">
  <head>
    <meta charset="utf-8">
    <title>PHRadio</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-cookies.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-route.min.js"></script>
    
    <!--
    <script type="text/javascript" src="/javascripts/angular/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular/angular-cookies.min.js"></script>
    -->
    <script type="text/javascript" src="/javascripts/foundation.min.js"></script>
    <script type="text/javascript" src="/javascripts/login.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <body>
  	<nav-bar></nav-bar>
    <!-- <iframe src="https://embed.spotify.com/?uri=spotify:trackset:FUCK_SPOTIFY:5Z7ygHQo02SUrFmcgpwsKW,1x6ACsKV4UdWS2FMuPFUiT,4bi73jCM02fMpkI11Lqmfe" frameborder="0" allowtransparency="true"></iframe> -->
    
  </body>
</html>